<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conexionCRM" connectionString="Data Source=10.0.64.5;Initial Catalog=SOLUM_EXPRESS;User Id=Consultor1;Password=Consult102%;" />
    <!--<add name="conexionCRM" connectionString="Data Source=192.168.1.209;Initial Catalog=SOLUM_EXPRESS;User Id=Consultor1;Password=Consult102%;" />-->
  </connectionStrings>
</configuration>